a {
    text-decoration: none;
}

.bg-gray-100 {
    background-color: #f2f6fc !important;
}
.bg-gray-200 {
    background-color: #e0e5ec !important;
}
.bg-gray-300 {
    background-color: #d4dae3 !important;
}
.bg-gray-400 {
    background-color: #c5ccd6 !important;
}
.bg-gray-500 {
    background-color: #a7aeb8 !important;
}
.bg-gray-600 {
    background-color: #69707a !important;
}
.bg-gray-700 {
    background-color: #4a515b !important;
}
.bg-gray-800 {
    background-color: #363d47 !important;
}
.bg-gray-900 {
    background-color: #212832 !important;
}